/**  =====================
      Authentication css start
==========================  **/
/* .auth-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100%;
  min-height: 100vh;
} */
.auth-wrapper {
  background: url("https://aactxg.stripocdn.email/content/guids/CABINET_f37167ea2322984dfeb6a0a05e92d2480b49356b15fb055bb2ce2e84131a12e4/images/login_page_final_02_2.jpg");
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  overflow: hidden;
  min-width: 100%;
  
  background-size: cover;
  min-height: 100vh;
}
.auth-wrapper .auth-content {
  position: relative;
  width: 390px;
  padding: 3rem;
  z-index: 5;
}

.auth-wrapper a,
.auth-wrapper p>a {
  color: #111;
  font-weight: 600;
}

.auth-wrapper .btn-auth-gen .btn-icon {
  width: 140px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 45px;
}

.auth-wrapper .btn-auth-gen .btn-icon small {
  font-size: 15px;
}

.auth-wrapper .input-group1 {
  background: transparent;
}

.auth-wrapper .card9 {
  margin-bottom: 0;
}

.auth-wrapper>div {
  z-index: 5;
}



.auth-wrapper .auth-content.multyform,
.auth-wrapper .auth-content.subscribe {
  width: 750px;
}

@media only screen and (max-width: 768px) {
  .auth-wrapper {
    max-width: 360px;
  }
}

@media only screen and (max-width: 575px) {
  .auth-wrapper .card9 .card-body1 {
    padding: 30px 15px;
  }
}

.auth-wrapper .auth-icon {
  font-size: 30px;
}

.auth-wrapper .auth-icon:before {
  background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.auth-wrapper.offline {
  background-image: none;
}

.auth-wrapper.offline:before {
  display: none;
}

.auth-wrapper .auth-bg .r {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.auth-wrapper .auth-bg .r:first-child {
  top: -100px;
  right: -100px;
  background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
}

.auth-wrapper .auth-bg .r:last-child {
  left: -100px;
  bottom: -100px;
  background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
}

.auth-wrapper .auth-bg .r.s {
  width: 20px;
  height: 20px;
}

.auth-wrapper .auth-bg .r.s:nth-child(2) {
  top: 150px;
  right: -150px;
  background: #04a9f5;
}

.auth-wrapper .auth-bg .r.s:nth-child(3) {
  left: -150px;
  bottom: 150px;
  background: #1de9b6;
}

.auth-wrapper .auth-bg .r:nth-child(odd) {
  -webkit-animation: floating 7s infinite;
  animation: floating 7s infinite;
}

.auth-wrapper .auth-bg .r:nth-child(even) {
  -webkit-animation: floating 9s infinite;
  animation: floating 9s infinite;
}

.form-group {
  margin-bottom: 1rem;
}

.form-inline .form-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}


.a {
  color: #ba54f5;
}

.amx-login-img {
  max-width: 50px;
  border-radius: 0.2857rem;
}

.my-roboflow-iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  overflow: hidden;
  min-height: 460px;
}

@media (max-width:767px) {
  .my-roboflow-iframe {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    overflow: hidden;
    min-height: 340px;
  }
}

.mylogin-form-labels {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  color: #fff !important;
  gap: 2px;
  align-items: flex-end;
}

.mylogin-form-control {
  display: block;
  width: 100%;
  height: calc(2.249999625rem + 2px);
  padding: 0.5rem 0.7rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.428571;
  color: #000 !important;
  background-color: rgba(255, 255, 255, 0.8);
  background-clip: padding-box;
  border: 1px solid #cad1d7;
  border-radius: 999px;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.my-login-button{
  font-weight: 700;
  display: block;
  width: 100%;
  height: calc(2.249999625rem + 2px);
  padding: 0.5rem 0.7rem;
  font-size: 0.875rem;
  
  line-height: 1.428571;
  color: #094D7F !important;
  background-color: rgba(255, 255, 255, 0.8);
  background-clip: padding-box;
  border: 1px solid #cad1d7;
  border-radius: 999px;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.mylogin-form-text-footer,
.mylogin-form-text-footer Link{
  text-align: center;
  font-size: 1rem;
  padding: 2px;
  font-weight: 500;
  color: #fff !important;
}